header {
  width: 100%;
}

body {
  background-color: #e9ece1;
}

.navbar {
  padding: 10px 100px;
}

.sticky-top {
  position: sticky;
  top: 0;
  width: 100%;
}

.footer {
  background-color: #343a40;
  color: rgba(255, 255, 255, .5);
  justify-content: center;
}

.footerContent {
  margin: 20px 0;
  padding: 5px;
}

.form {
  border: 2px solid #343a40;
  border-radius: 7px;
  margin: 15px;
  padding: 25px;
}

.carouselImg {
  min-height: max-content;
}

.carousel-indicators li {
  background-color: black;
}

.carousel-control-next-icon {
  background-image: url("./next.png");
}

.carousel-control-prev-icon {
  background-image: url("./prev.png");
}

.card a {
  color: inherit;
}

.pay-icons svg {
  margin: 5px 5px;
}

.prodBtns button {
  margin: 0 5px;
}

.pay-icons {
  width: 55%;
}

.pay-icons div {
  border-radius: .2em;
  border: 1px solid #343a40;
  padding: 5px;
}

.pay-icons small {
  margin: 0 5px;
}

.productImg {
  float: right;
  height: 100%;
  width: 85%;
}

.productImg img {
  border: 1px solid black;
  width: 100%;
  height: 80%;
  position: relative;
}

.thumbs {
  border: 1px solid black;
  width: 100%;
  height: 20%;
}

#footer-icons {
  text-align: center;
  padding-bottom: 15px;
}

#footer-icons a {
  color: inherit;
  margin: 0 10px;
}

#footer-icons a:hover {
  color: rgba(255, 255, 255, .7);
}

#searchBox {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, .7);
  background-color: inherit;
  border-radius: 0;
}

#searchBox:focus {
  color: #343a40;
  background-color: #f7f7f7;
  box-shadow: none;
  border: none;
  border-radius: .2em;
}

#productListing>button, #productListing>h2, #productListing>h5, #productListing>div, #productListing>small, #productListing>label {
  margin: 0 5px;
  padding: 15px;
}

#productListing>select {
  margin-left: 20px;
  width: 30%;
}

@media screen and (max-width: 992px) {
  .productImg {
    float: none;
    margin: 0 auto;
    width: 100%;
  }

  #productListing {
    margin: 10px auto;
    width: 100%;
  }
}

li>div {
  height: 100%;
}